<!-- {% extends "base.html" %}

{% block content %}
    <h1>Hello World, this from events template</h1>
    <form action="/submit-event" method="POST">
        <label for="event_name">Event Name:</label>
        <input type="text" id="event_name" name="event_name"
        placeholder="event name" maxlength="50" required>

        <br><br>

        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject"
        placeholder="subject" maxlength="50">

        <br><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date"
        placeholder="date">

        <br><br>

        <label for="time_start">Event Begins:</label>
        <input type="time" id="time_start" name="time_start"
        placeholder="time start">

        <br><br>

        <label for="time_end">Event Ends:</label>
        <input type="time" id="time_end" name="time_end"
        placeholder="time end">

        <br><br>

        <label for="repeat">Event frequency:</label>
        <select id="repeat" name="repeat">
            <option value="none">None</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
        </select>

        <br><br>

        <label for="description">Event description:</label>
        <input type="text" id="description" name="description"
        placeholder="description">

        <br><br>

        <button type="submit">Add Event</button>
    </form>


{% endblock %} -->