<!-- {% extends "base.html" %}

{% block content %}
    <h1>Hello World, this from template login</h1>
    <form action="submit-login" method="POST, GET">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" 
        placeholder="username" maxlength="50" required>

        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" 
        placeholder="password" maxlength="50"
        pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}" 
        title="Must contain at least one number, one special character, 
        one letter, and be at least 8 characters long" 
        required>
    </form>
    <button type="submit">Login</button>
{% endblock %} -->

{% extends "base.html" %}

{% block content %}
  <h1>Login</h1>
  <form method="POST" action="{{ url_for('submit_login') }}">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <input type="submit" value="Login">
  </form>
{% endblock %}
