{% extends "base.html" %}

{% block content %}
  <h1>Hello User</h1>
    <body>
      <div class="container">
        <h1 class="my-4">Your Tasks</h1>
        
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Subject</th>
                <th scope="col">Due Date</th>
                <th scope="col">Estimated Time</th>
                <th scope="col">Task Percentage</th>
                <th scope="col">Description</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <td>{{ task.task_name }}</td>
                <td>{{ task.subject }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.estimated_time }}</td>
                <td>{{ task.task_percentage }}</td>
                <td>{{ task.description }}</td>
                <td>
                  <!-- <form action="{{url_for('update_task', task_id=task.task_id)}}" method="POST">
                  <button type="submit" class="btn btn-danger">Update</button></td> -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update-modal">
                    Launch demo modal
                  </button>
                </td>
                <td>
                  <form action="{{url_for('delete_task', task_id=task.task_id)}}" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button></td>
                  </form>
                </td>  
              </tr>
                  
                  {% endfor %}
                </tbody>
    <!-- Modal -->
                <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h5>hi</h5>
                      </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

{% endblock %}
